 <div class="container" style="padding: 10px;">

     <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
       <h3>Görevler</h3>
       <button mat-mini-fab color="primary" (click)="openAddDialog()" matTooltip="Yeni Görev Ekle">
         <mat-icon>add</mat-icon>
       </button>
     </div>

   <div class="task-list">

     <div *ngFor="let task of tasks"
          class="task-card"
          [ngClass]="getLeftBorderColor(task)"
          (click)="selectTask(task.id)"
          [class.selected]="selectedTaskId === task.id">
       <div class="card-row top-row">

       <div class="task-header" matTooltip="{{task.header}}">
         {{ task.header }}
       </div>

       <div class="task-meta">
         <span class="hours-badge" *ngIf="task.hoursTaken > 0">{{ task.hoursTaken }}h</span>

         <mat-icon *ngIf="task.isCompleted" class="check-icon">check_circle</mat-icon>
       </div>

     </div>

       <div class="card-row bottom-row">

         <div class="task-date" [matTooltip]="task.updatedDate ? 'Son Güncelleme' : 'Oluşturulma Tarihi'">
           {{ (task.updatedDate ? task.updatedDate : task.createdDate ) | date:'dd.MM.yy' }}
         </div>

         <div class="task-body" matTooltip="{{task.body}}">
           {{ task.body }}
         </div>

         <button mat-icon-button color="warn" class="delete-btn" (click)="onDelete(task.id); $event.stopPropagation()">
           <mat-icon>cancel</mat-icon> </button>

       </div>

     </div>

   </div>
 </div>

